/* This is a styling sheet for Match Maker */

/* Colors */

html {
    background-color: rgb(46, 46, 46);
}

h1 {
    color: rgb(187, 115, 255);
    text-align: center;
    text-decoration-color: white;
    text-decoration: white wavy overline underline;
    text-size-adjust: auto;
    text-justify: distribute;
}

select {
    color: brown;
}

option {
    color: aqua;
}